Flask==3.0.3
python-dotenv==1.0.1
Flask-Talisman==1.1.0
Flask-WTF==1.2.2
Flask-Limiter[redis]==3.10.1
openai>=1.51.2
gunicorn==21.2.0
gevent==24.2.1
redis==5.0.1
sentry-sdk[flask]==1.40.0
prometheus-flask-exporter==0.23.0
pyOpenSSL==24.0.0
blinker==1.7.0
python-json-logger==2.0.7


